body {
	background: #fffff5;
}

.room-style {
	border: 5px solid #595959;
}

h1 {
	color: #333333;
	text-align: center;
	font-family: helvetica;
}

h2 {
	color: #4d4d4d;
	text-align: center;
	font-family: helvetica;
}

p {
	color: #a6a6a6;
	font-family: helvetica;
}